/* 	
	Project Name: MagicFont
	Version: 1.0
	Project Web: http://magicfont.com
	Author: Farhan Wazir
	Author Link: http://farhan.cideator.com
	Documentation & Examples: http://magicfont.com
*/
body{
	font-family:Verdana, Geneva, sans-serif;
	color:#4E6169;
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
	color:#C00;
	background-color:#f7f7f7;
	padding:5px;
}
a:hover{
	text-decoration:none;
	color:#4E6169;
	background-color:#fff;
}
::selection{
	background-color:#c00;
	color:#fff;
}
::-moz-selection{
	background-color:#c00;
	color:#fff;
}
.mf{
	font-size:25px;
	vertical-align:middle;
	color:#4E6169;
}
.mf[class*="frame-"][class*="icon-"]:after{
	color:#F4F4F4;
}
.mf.frame-triangle[class*="icon-"]:after,
.mf.frame-triangle-ol[class*="icon-"]:after{
	
}
.mf[class*="frame-"][class*="-ol"]:after{
	color:inherit;
}
.mf[class*="frame-"][class*="icon-"]:hover:after{
	color:#fff;
}

/****** 2nd level *************/
.mf[class*="icon-"] [class*="icon-"]:after{
	color:#C00;
}
.mf[class*="frame-"][class*="-ol"]:hover:before,
.mf[class*="frame-"]:hover:before,
.glyph:hover .mf[class*="icon-"]:after,
.mf[class*="frame-"][class*="-ol"]:hover:after{
	color:#C00;
}

.mf[class*="icon-"]:before,
.mf[class*="icon-"]:after,
.mf[class*="icon-"]:hover:after,
.mf[class*="icon-"]:hover:before{
	-webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
	cursor:pointer;
}


/* Layout */
.contents{
	width:90%;
	margin:40px auto;
}
.glyph{
	display:inline-block;
	min-width:25%;
	padding:10px;
	margin:3px;
	border:solid 1px #CCC;
}
.glyph:hover{
	background-color:#f1f1f1;
	color:#C00;
}

small{
	font-size:11px;
}
.bgc1{
	margin:0 auto;
	text-align:center;
	padding:25px;
	background-color:#4E6169;
	color:#f4f4f4;
}
.mls{
	margin-left:10px;
}
.multi-icons{
	margin:0 auto;
	max-width:73%;
}
.section-set td{
	text-align:center;
	padding:10px;	
}
.section-set div{
	display:inline-block;
	margin:20px;
}
.section-set small{
}
.section-set .mf{
	font-size:75px;
}
xmp{
	margin:10px auto;
	background-color:#f1f1f1;
	padding:15px;
}
.hidden-true{
	display:none;
}
.hidden-false{
	display:block;
}
