/* 	
	Project Name: MagicFont
	Version: 1.0
	Project Web: http://magicfont.com
	Author: Farhan Wazir
	Author Link: http://farhan.cideator.com
	Documentation & Examples: http://magicfont.com
*/
body{
	font-family:Verdana, Geneva, sans-serif;
	color:#4E6169;
	padding:0;
	margin:0;
}
.mf{
	font-size:25px;
	vertical-align:middle;
	color:#4E6169;
}
.mf[class*="frame-"][class*="icon-"]:after{
	color:#F4F4F4;
}
.mf.frame-triangle[class*="icon-"]:after,
.mf.frame-triangle-ol[class*="icon-"]:after{
	
}
.mf[class*="frame-"][class*="-ol"]:after{
	color:inherit;
}
/****** 2nd level *************/
.mf[class*="icon-"] [class*="icon-"]:after{
	color:#C00;
}
.mf[class*="frame-"]:hover:after{
	color:#fff;
}
.mf[class*="frame-"][class*="-ol"]:hover:before,
/*.mf[class*="-ol"]:hover:before,
.mf[class*="-ol"]:hover:after,*/
.mf[class*="frame-"][class*="-ol"]:hover:after,
.mf[class*="icon-"]:hover:after{
	color:#900;
}
.mf[class*="icon-"]:before,
.mf[class*="icon-"]:after,
.mf[class*="icon-"]:hover:after,
.mf[class*="icon-"]:hover:before{
	-webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
	cursor:pointer;
}


/* Layout */
.contents{
	width:90%;
	margin:40px auto;
}
.glyph{
	display:inline-block;
	min-width:25%;
	padding:10px;
}
h1{
}
small{
	font-size:16px;
}

.bgc1{
	margin:0 auto;
	text-align:center;
	padding:25px;
	background-color:#4E6169;
	color:#f4f4f4;
}
.hidden-true{
	display:none;
}
.hidden-false{
	display:block;
}
